.chatContent-3KubbW{
  background-image: var(--background-image);
  background-color: transparent;
  background-attachment: var(--background-attachment, fixed);
  background-size: var(--background-size, cover);
  background-position: var(--background-position, center);
  filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}
.icon-3AqZ2e{
 background-color: var(--icon-color);
}
.container-1eFtFS{
  background-image: var(--Fullbackground-image);
}
