.chatContent-3KubbW{
  background-image: var(--background-image);
  background-color: transparent;
  filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}
.appDevToolsWrapper-1QxdQf{
  margin: 50px;
}
typeWindows-2-g3UY withFrame-2dL45i titleBar-1it3bQ horizontalReverse-2QssvL flex-3BkGQD directionRowReverse-HZatnx justifyStart-2Mwniq alignStretch-Uwowzr{
 background-color: #7fffd4;
}
