body{
  background-image: var(--background-image);
  background-color: transparent;
  background-attachment: var(--background-attachment, fixed);
  background-size: var(--background-size, cover);
  background-position: var(--background-position, center);
}
