.chatContent-3KubbW{
  background-image: var(--background-image);
  background-color: transparent;
  background-attachment: var(--background-attachment, fixed);
  background-size: var(--background-size, cover);
  background-position: var(--background-position, center);
  background-repeat: var(--background-repeat, no-repeat);
  filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}
.appDevToolsWrapper-1QxdQf{
  margin: 50px;
}
.typeWindows-2-g3UY {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--topBar-color);
}
.homeIcon-r0w4ny{
  background-color: transparent !important;
  background-image: var(--homeImage);
  background-repeat: var(--homeImage-repeat);
  background-size: var(--homeImage-size);
}
